.stats{
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.photo-card{
    width: 30%;
    min-height: 300px;
    margin: 5px;
    border: 1px solid #444;
    overflow: hidden;
}

.img-card{
    display: block;
    width: 100%;
    /* height: auto; */
    height: 70%;
}